
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: antiquewhite;
}
nav{
    position: fixed;
}
.resumeimage { 
    max-width: 100%;
    width: 80vw;
    max-height: 80vh;

  }
.text-main{
    font-weight: 300;
    font-size: calc(1.5rem + 2.5vw);
}
button{
    margin-top: 100px;
}


/* @keyframes pulse {
    0% { transform: scale(1); }
    100% { 
        transform: scale(1.02); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); 
    }
} */
footer{
    display: flex;
    position: end;
    text-align: center;
    height: 50px;
}
.navbar-git{
    text-decoration: none;
    font-weight: 500;
}
.navbar-git:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
    
}




.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: calc(1 rem + 2vw);
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 1.5% 2%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

