@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

body{
    background-color: antiquewhite;
}
nav{
    position: fixed;
}
.resumeimage { 
    max-width: 100%;
    width: 80vw;
    height: 80vh;
  }
.text-main{
    font-weight: 300;
    font-size: 270%;
    font-family:Arial, Helvetica, sans-serif;
}
button{
    margin-top: 100px;
}
.resumeimage {
    transition: transform 1s ;
  }
  
.resumeimage:hover {
    transform: scale(1.01);
    box-shadow: 16px 16px 16px rgba(10, 113, 224, 0.2); /* Optional: Adds a subtle shadow */
}
footer{
    display: flex;
    position: end;
    text-align: center;
    height: 50px;
}
.navbar-git{
    text-decoration: none;
    font-weight: 500;
}
.navbar-git:hover{
    font-size: 120% ;
}

