@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-weight: 500;
    font-size: 1rem;
}


body {
    background: linear-gradient(180deg, rgba(240, 242, 244, 0.8) 0%, #09657f 150%); 

    display: grid;
    /* place-items: center; */
    font-weight: 450;
    opacity: 1;
}
nav{
    position: fixed;
}
.navbar-git{
    text-decoration: none;
    font-weight: 500;
}
.navbar-git:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}

.none {
    display: none;
}

.resume {
    margin-top: 20px;
    margin-bottom:20px;
    max-width: 70vw;
    height: 1120px;
    box-shadow: rgba(17, 17, 26, 0.1) 16px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
/* @media (max-width: 567px){
    .resume{
        width:80vh;
    }
} */

#print {
    background-color: #fff;
    

}
 body::-webkit-scrollbar {
    width: 0.2em;
  }
   
 body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  }
   
 body::-webkit-scrollbar-thumb {
    background-color: rgb(8, 8, 8);
    outline: 1px solid rgb(9, 10, 10);
}
 #print::-webkit-scrollbar {
    width: 0.2em;
  }
   
  #print::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  }
   
  #print::-webkit-scrollbar-thumb {
    background-color: rgb(8, 8, 8);
    outline: 1px solid rgb(9, 10, 10);
}
/* ------------------------------------------------------------ */
.head{
    
    background-color: #374457;
    display: flex;
    justify-content: flex-start;
    color: white;

}
.name{
    font-weight: 500;
    font-size: 3rem;
}
.contact{
    background-color: #1d2530;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 2% 8%;
}
.main{
    padding:4% 4%;
}
.btnn{
    box-sizing: 50px;
}
.title {
    font-weight: 700;
    font-size: 18px;
    border: none;
    color: #AC2F1A;
    width: fit-content;
    padding-bottom: 2px;
    border-bottom: 2px #AC2F1A solid;
}
.language{
 padding: 3% 0%;
}
#education{
    padding: 3% 0%;
}
.skill-rating {
    font-size: 20px; /* Adjust the dot size */
    color: orange;   /* Choose your desired color */
  }
  
.skill-rating span {
    margin-right: 5px; /* Add spacing between dots */
}
.skills{
    display: flex;
    justify-content: space-between;
    padding: 3% 0%;
}
.Achivement{
    padding: 3% 0%;
}
  




/* -------------------------------------------------------- */
.navbtn {
    position: fixed;
    top: 40%;
    left: 4%;
    transform: translate(-40%, -4%);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: #fff 2px solid;
    transition: 300ms ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.navbtn:nth-child(2) {
    top: 55%;
    left: 4.5%;
    transform: translate(-50%, -4.5%);
}
@media (max-width: 767px) {
    .navbtn:nth-child(2) {
        top: 55%;
        left: 4.5%;
        transform: translate(270%, 650.5%);
    }
    .navbtn {
        top: 55%;
        left: 4.5%;
        transform: translate(430%, 650.5%);
    }
  }

/* .navbtn:nth-child(3) {
    top: 60%;
    left: 4.8%;
    transform: translate(-600%, -4.8%);
} */

.navbtn:hover {
    background-color:rgb(3, 46, 89);
    color: #fff;
    border: #000 2px solid;
    height: 65px;
    width: 65px;
}